[submodule "pbbam"]
	path = pbbam
	url =  https://github.com/PacificBiosciences/blasr_libcpp.git
	branch = master
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	branch = master
